.shcedule-item {
	margin: 15px 0;
	transition: all 0.2s ease-out;
	padding: 10px;
	height: auto;
	border-radius: 40px;
	color: rgb(0, 0, 0);
	/*
	@include mobile {
		height: auto;
	}
	*/
	cursor: pointer;
	.images {
		width: 70px;
		display: inline-block;
		align-self: center;
		vertical-align: middle;
		transition: all 0.2s ease-out;
		.image {
			width: 100%;
			transition: all 0.2s ease-out;
			background-size: cover;
			background-position: center;
			border-radius: 100%;
			aspect-ratio: 1;
			align-self: center;
			//border: 1px solid $lightgrey;
		}
		.image:nth-child(2) {
			transform: translateY(-7px);
		}
	}

	.content {
		transition: all 0.2s ease-out;
		display: inline-block;
		padding-left: 20px;
		width: calc(100% - 70px);
		/*
		@include mobile {
			width: calc(100% - 70px);
		}
		*/
		vertical-align: top;
	}
	
	.title {
		transition: all 0.2s ease-out;
		font-size: 1.1rem;
		font-weight: 700;
		padding: 0px 0 1px 0;
		/* @include mobile {
			font-size: 0.85rem;
		} */
	}

	.presenter {
		transition: all 0.2s ease-out;
		font-size: 0.75rem;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.5);
	}

	.description {
		transition: all 0.2s ease-out;
		overflow: hidden;
		font-size: 0.9rem;
		max-height: 0;
		/* @include mobile {
			width: calc(100% + 70px);
			transform: translateX(-80px);
			font-size: 0.8rem;
		} */
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
	
	&.open {
		/* @include desktop {
			padding: 20px;
			border-radius: 20px;
			.images {
				width: 200px;
				.image {
					border-bottom-left-radius: 0;
					width: 200px;
				}
			}

			&.double-presenter {
				.images {
					width: 160px;
					.image {
						border-bottom-left-radius: 0;
						width: 150px;
					}
				}
			}

			.content {
				width: calc(100% - 200px);
			}

			.time {
				font-size: 1rem;
				svg {
					height: 30px;
				}
			}

			.title {
				font-size: 1.6rem;
			}

			.presenter {
				font-size: 1rem;
				font-weight: 600;
			}

			.description {
				max-height: 100px;
				padding: 15px 0 0 0;
			}
		}
		@include mobile {
			background-color: rgba(255, 255, 255, 0.8);
			padding-bottom: 15px;
			.description {
				max-height: 200px;
			}
			.presenter {
				margin-bottom: 20px;
			}
		} */
	}
}